/* index.css */

html,
body,
#root {
  margin: 0;
  width: 100%;
  height: 100%;
  background: #121212;
  font-family: system-ui, sans-serif;
}

.app {
  display: flex;
  height: 100%; 
  width: 100%;
  flex-direction: row; 
}
